<div class="row z-depth-1 start-card">
  <div class="admin-question-title-wrap mb-1">
    <p class="bold admin-title">問題作成</p>
  </div>
  <div class="col s12">

    <%= form_with(url: questions_path) do |f| %>

      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <%= f.file_field(:upload_file, accept: "image/jpeg,image/gif,image/png", id: "js-upload-image") %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <div id="js-question-choice" class="hide">
        <div class="admin-question-predict" id="js-label-detection"></div>
        <div>
          <%= f.label :正解選択肢 %>
          <%= f.text_field :choice_text, id: 'js-choice-text' %>
        </div>
        <div>
          <%= f.submit "作成", class: 'btn' %>
        </div>
      </div>

    <% end %>
  </div>
</div>


