<%= link_to "問題作成ページ", new_question_path %>
<h1>作成した問題</h1>
<%# debugger %>
<%= render 'layouts/flash_messages' %>
<% @questions.reverse_each do |question|%>
  <div>
    A.<%= choice_name(question.choice_id) %>
    <%= image_tag question.image.variant(:display) if question.image.attached? %>
    <%= link_to "問題を削除する", question, data: { "turbo-method": :delete,
                                              turbo_confirm: "You sure?" } %>
  </div>
<% end %>
