<%= link_to "問題一覧", questions_path %>
<h1>問題作成</h1>
<%= form_with(url: questions_path, scope: :question) do |f| %>
  <div>
    <%= f.label :画像 %>
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </div>
  <div>
    <%= f.label :問題文 %>
    <%= f.text_field :text, value: "この画像はなんでしょう" %>
  </div>
  <div>
    <%= f.label :正解 %>
    <%= f.text_field :choice_text %>
  </div>
  <div>
    <%= f.submit "作成" %>
  </div>
<% end %>
