<%= link_to "問題一覧", questions_path %>
<h1>問題作成</h1>
<%= render 'layouts/flash_messages' %>
<%= form_with(url:questions_predict_path) do |f| %>
  <div>
    <%= f.label :画像 %>
    <%= f.file_field(:upload_file, accept: "image/jpeg,image/gif,image/png") %>
    <button>この画像をセット</button>
  </div>
<% end %>

<% if @labels %>
  <% @labels.each do |label| %>
    <button onclick="document.getElementById('question_choice_text').value = event.target.innerText">
      <%= label %>
    </button>
  <% end %>
<% else %>
  <p>なし</p>
<% end %>

<%= form_with(url: questions_path, scope: :question) do |f| %>
  <div>
    <%= f.label :正解 %>
    <%= f.text_field :choice_text %>
  </div>

  <div>
    <%= f.submit "作成" %>
  </div>
<% end %>
