<div class="row" style="margin-top: 50px">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <div class="z-depth-1">
    <% if @question.images.attached? %>
      <% @question.images.each_with_index do |image, i| %>
        <%= image_tag image.variant(:display), class: "question-image #{i == 0 ? 'active' : ''}" %>
      <% end %>
    <% end %>  
    </div>
    <p>Q.<%= session[:question_num] %></p>
    <div>
      <%= form_with scope: :question,
                    url: game_path(params[:id]),
                    method: :patch,
                    html: {name: "myform"} do |f| %>
        <% @choices.each do |choice| %>
          <div>
            <label>
              <%= f.radio_button :choice, choice[:is_correct], class: "with-gap" %>
              <div class="waves-effect waves-light btn full mb-1">
                <%= choice[:text] %>
              </div>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
