<div class="row">
  <div class="col s12 m8 l6 offset-m2 offset-l3 question-container">
    <div id="js-judgment" class="question-judgment"></div>
    <div class="z-depth-1 question-image-frame">
      <%= image_tag @question.image.variant(:display).processed, class: "question-image",
                                                                 id: "js-question-image" %>
    </div>
    <p>Q.<%= session[:question_num] %> / <%= Game.find(params[:id]).question_quantities %>問中</p>

      <%= form_with scope: :question,
                    url: game_path(params[:id]),
                    method: :patch,
                    html: {name: "answer_form"} do |f| %>
        <% @choices.each do |choice| %>
          <div>
            <label>
              <%= f.radio_button :choice, choice[:is_correct], class: "with-gap" %>
              <div class="waves-effect waves-light btn full mb-1">
                <%= choice[:text] %>
              </div>
            </label>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
