<div id="js-match-data" data-match-id="<%= @match.id %>" data-game-id="<%= @game.id %>"></div>

<div class="row">
  <%# マッチング画面 %>
  <div class="<%= @match.status == 0 ? '' : 'hide' %> result-card col s12 m8 l6 offset-m2 offset-l3 z-depth-1 center-align">
    <p class="bold">対戦マッチング中...</p>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>

  <% if @match.status == 1 %>
    <%# 回答画面 %>
    <div class="<%= @game.end_at ? 'hide' : '' %> col s12 m8 l6 offset-m2 offset-l3 question-container">
      <%= render 'games/quiz_image' %> 
      <%= render 'games/progress', game: @game %> 
      <div id="js-opponent-progress">
        <%= render 'games/progress', game: @opponent_game %> 
      </div>
      <%= render 'games/answer_form' %>
    </div>

    <%# 対戦相手の回答待ち画面 %>
    <div class="<%= @game.end_at ? '' : 'hide' %> result-card col s12 m8 l6 offset-m2 offset-l3 z-depth-1 center-align">
      <p class="bold">対戦相手の回答待ち...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  <% end %>

  <% if @match.status == 2 %>
    <%# 結果画面 %>
    <div class="result-card col s12 m8 l6 offset-m2 offset-l3 z-depth-1 center-align">
      <%= @match.victory_judgment(@game) %>
      <%= render 'games/result', game: @game %> 
      <%= render 'games/result', game: @opponent_game %> 
      <%= link_to "Top画面へ戻る", root_path, class: "waves-effect waves-light btn-large" %>
    </div>
  <% end %>
</div>
