<div id="data" data-match-id="<%= @match.id %>" data-game-id="<%= @game.id %>"></div>

<div>
  <div id="js-play-screen-1" class="<%= @match.status == 0 ? '' : 'hide' %>">
    <h1>対戦相手探し中...</h1>
  </div>
  
  <div id="js-play-screen-2" class="row <%= @match.status == 1 && @game.end_at.nil? ? '' : 'hide' %>">
    <div class="col s12 m8 l6 offset-m2 offset-l3 question-container">
      <div id="judgment" class="question-judgment"></div>
      <div class="z-depth-1 question-image">
      <% if @question.images.attached? %>
        <% @question.images.each_with_index do |image, i| %>
          <%= image_tag image.variant(:display).processed,
                        id: "question-image-#{i}",
                        class: "#{i == 0 ? 'active' : ''}" %>
        <% end %>
      <% end %>
      </div>
      <p>Q.<%= session[:question_num] %> / <%= @game.question_quantities %>問中</p>
  
        <%= form_with scope: :question,
                      url: match_update_path(params[:match_id], params[:game_id]),
                      method: :patch,
                      html: {name: "myform"} do |f| %>
          <% @choices.each do |choice| %>
            <div>
              <label>
                <%= f.radio_button :choice, choice[:is_correct], class: "with-gap" %>
                <div class="waves-effect waves-light btn full mb-1">
                  <%= choice[:text] %>
                </div>
              </label>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div id="js-play-screen-3" class="<%= @match.status == 1 && @game.end_at ? '' : 'hide' %>">
    <h1>対戦相手の回答待ち...</h1>
  </div>
</div>

<%# 結果画面はリダイレクト・ページのリロードで表示 %>
<% if @match.status == 2 %>
  <div class="row">
    <div class="result-card col s12 m8 l6 offset-m2 offset-l3 z-depth-1 center-align">
      <p><span class="bold"><%= @game.name %></span>さんの結果は...</p>
      <p class="result-text">正解率: <%= @game.correct_answers %> (<%= @game.percentage_correct_answers %>%)</p>
      <%= link_to "Top画面へ戻る", root_path, class: "waves-effect waves-light btn-large" %>
    </div>
    <div class="result-card col s12 m8 l6 offset-m2 offset-l3 z-depth-1 center-align">
      <p><span class="bold"><%= @opponent_game.name %></span>さんの結果は...</p>
      <p class="result-text">正解率: <%= @opponent_game.correct_answers %> (<%= @opponent_game.percentage_correct_answers %>%)</p>
    </div>
  </div>
<% end %>