<!DOCTYPE html>
<html>
  <head>
    <title>QuizApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8"
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# miterializeがうまく読み込めないため %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%# miterializeがうまく読み込めないため %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
